@import url("https://fonts.googleapis.com/css?family=Merriweather|Yanone+Kaffeesatz&display=swap");

.App {
  margin: 0 auto;
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
}
